<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CV ANTHONY MINGA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ANTHONY ALEJADNRO MINGA CAMPOVERDE</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ion-padding">

    <ion-row class="custom-background light-background">
      <ion-col class="center-content">
        <h2 class="bold-name">ANTHONY ALEJANDRO MINGA CAMPOVERDE</h2>
        <p>
          <ion-icon name="call-outline" class="color-icon"></ion-icon> 0968862213
        </p>
        <p>
          <ion-icon name="mail-outline" class="color-icon"></ion-icon> anthony.minga&commat;gmail.com
        </p>
        <p>
          <ion-icon name="home-outline" class="color-icon"></ion-icon>
          Quito - Ecuador
        </p>
      </ion-col>
      <ion-col class="center-col">
        <ion-img src="assets/icon/FotoCurriculum.jpg" alt="Anthony Minga" class="img-antho"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="6">
        <ion-grid>
          <ion-row>
            <ion-col class="text-h1">
              <ion-icon name="person-circle-outline" class="color-icon-about-me"></ion-icon>
              <ion-text class="text-color">
                <h1>Soy un joven apasionado por el desarrollo y gestión de proyectos, tengo experiencia trabajando en
                  manejo de inventarios y también tengo conocimientos en varios lenguajes de programación. Me siento
                  cómodo
                  trabajando en equipo y comunicándome de manera efectiva con los miembros del equipo y los
                  stakeholders.
                  Estoy motivado a seguir aprendiendo y creciendo profesionalmente, y estoy decidido a contribuir al
                  éxito de
                  la organización.</h1>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="text-h1">
              <ion-icon name="construct-outline" class="color-icon-about-me"></ion-icon>
              <hr>
              <ion-text class="bold-title">HABILIDADES</ion-text>
              <ion-text class="text-color">
                <p>Técnicas: Word, PowerPoint, Excel, Python, C++, HTML, CSS, JavaScript, Java, Figma, SQLserver</p>
                <p>Profesionales: Trabajo en Equipo, Proactividad, Disciplina, Responsabilidad, Puntualidad
                </p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="text-h1">
              <ion-icon name="school-outline" class="color-icon-about-me"></ion-icon>
              <hr>
              <ion-text class="bold-title">FORMACIÓN ACADÉMICA</ion-text>
              <ion-text class="text-color">
                <p class="related">- 2013 | 2019 Colegio Experimental "Juan Pio Montúfar". Quito - Ecuador</p>
                <p class="related">- Bachiller en Ciencias Generales </p>
              </ion-text>
              <hr class="custom-hr">
              <ion-text class="text-color">
                <p class="related">- 2020 | 2022 Universidad Técnica Partícular de Loja (UTPL). Quito -Ecuador</p>
                <p class="related"> - Auditoría </p>
              </ion-text>
              <hr class="custom-hr">
              <ion-text class="text-color">
                <p class="related">- 2022 | Actual, Escuela Politécnica Nacional. Quito - Ecuador</p>
                <p class="related">- Tecnología Superior en Desarrollo de Software</p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="text-h1">
              <ion-icon name="document-text-outline" class="color-icon-about-me"></ion-icon>
              <hr>
              <ion-text class="bold-title">PRACTICAS</ion-text>
              <ion-text class="text-color">
                <p class="related">Pasante | Administración General - Unidad de transporte, Escuela Politécnica Nacional
                  | Quito, Ecuador</p>
                <p class="related">Tareas Realizadas | Soporte Técnico, instalación de dispositivos como computadores,
                  manejo de documentaciones.</p>
                <p class="related">Referencias: Ing. Jonathan Narváez | 0992785977</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col size="6">
        <ion-grid>
          <ion-row>
            <ion-col class="text-data accent-background">
              <ion-icon name="id-card-outline" class="color-icon"></ion-icon>
              <hr>
              <ion-text class="bold-title">DATOS PERSONALES</ion-text>
              <ion-text class="text-color">
                <p>Edad: 22 años</p>
                <p>Estado civil: Soltero</p>
                <p>Residencia: Quito, Ecuador</p>
                <p>C.I.: 1751046747</p>
                <p>Correo: anthony.minga&commat;epn.edu.ec</p>
              </ion-text>

              <div class="social-buttons">
                <ion-button href="https://www.linkedin.com/feed/" target="_blank" color="primary">
                  <ion-icon name="logo-linkedin" slot="start"></ion-icon> LinkedIn
                </ion-button>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="text-h1">
              <ion-icon name="briefcase-outline" class="color-icon-about-me"></ion-icon>
              <hr>
              <ion-text class="bold-title">EXPERIENCIA PROFESIONAL</ion-text>
              <ion-text class="text-color">
                <p>DIMASPORT</p>
                <p>Gestor de bodega | Quito - Ecuador</p>
                <p>Tareas Realizadas | Manejo de inventario, Control de bodega, Atención al cliente</p>
              </ion-text>

              <hr class="custom-hr">

              <ion-text class="text-color">
                <p>PUKAMURO</p>
                <p>Jefe de bodega | Quito - Ecuador</p>
                <p>Tareas Realizadas | Manejo de inventario, Control de bodega, Atención al cliente</p>
              </ion-text>

              <hr class="custom-hr">

              <ion-text class="text-color">
                <p>Distribuidora JT</p>
                <p>Cajero - Vendedor | Quito, Ecuador</p>
                <p>Tareas Realizadas | Atención al cliente, Menejo de inventario, Cajero.</p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="text-data light-accent-background">
              <ion-icon name="language-outline" class="color-icon"></ion-icon>
              <hr>
              <ion-text class="bold-title">IDIOMAS</ion-text>

              <div class="language-section">
                <ion-label>Inglés</ion-label>
                <ion-progress-bar value="0.50"></ion-progress-bar>
              </div>

              <div class="language-section">
                <ion-label>Italiano</ion-label>
                <ion-progress-bar value="0.25"></ion-progress-bar>
              </div>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>