.custom-background {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .text-h1, .text-data {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .center-content {
    display: column;
  }
  
  .bold-name {
    font-weight: bold; 
    color: black;
    font-size: 20px; 
  }
  
  .color-icon {
    margin-top: 2px;
    color: black;
  }
  
  .contact-info {
    padding: 5px 15px 0 0;
    width: 30px;
    height: 30px;
  }
  
  ion-col p {
    margin: 5px 0; 
    color: black;
  }
  
  .text-h1 h1, .text-color {
    font-size: 18px;
    color: black;
  }
  
  .text-h1 p {
    margin-bottom: 30px; 
  }
  
  .text-h1 p.related {
    margin-bottom: 10px; 
  }
  
  .bold-title {
    font-weight: bold;
    font-size: 18px;
    color: black;
  }
  
  .text-data {
    color: black;
    padding: 10px;
    border-radius: 10px;
  }
  
  ion-label {
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
    display: block;
  }
  
  .light-background {
    background-color: white; 
  }
  
  .accent-background {
    background-color: white; 
  }
  
  .light-accent-background {
    background-color: white; 
  }
  
  .color-icon-about-me {
    color: black;
    font-size: 20px;
  }
  
  .img-antho {
    width: 230px;
    height: 230px;
    border-radius: 50%; 
    display: block; 
    margin: 0 auto; 
  }
  
  .center-col {
    display: flex; 
    justify-content: center;
    align-items: center; 
  }
  
  .social-buttons {
    margin-top: 15px;
    text-align: left;
  }
  
  ion-button {
    --border-radius: 20px;
    margin-right: 10px;
  }
  
  .language-section {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  ion-progress-bar {
    --progress-background: rgba(91, 138, 224, 0.641);
    --background: rgba(0, 0, 0, 0.1);
    --buffer-background: rgba(111, 191, 207, 0.715);
    height: 12px;
    border-radius: 5px;
  }
  
  .custom-hr {
    border: 0.5px solid black;
  }

  .name{
    font-size: 20px;
    font-weight: bold;
  }

 